<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="DummyAPI Test">
        <classes>
            <class name="com.restassured.dummyapi.UpdateUserTests"/>
            <class name="com.restassured.dummyapi.GetUserByIdApiTests"/>
            <class name="com.restassured.dummyapi.DeleteUserApiTests"/>
            <class name="com.restassured.dummyapi.CreateUserTests"/>
        </classes>
    </test>
</suite>
